@import 'variables';

.box {
  height: $box-size;
  width: $box-size;

  .row {
    height: $tile-size + $tile-border-width * 2;
    width: $box-size;

    .tile {
      float: left;
      border-width: $tile-border-width;
      border-color: black;
      border-style: solid;
      height: $tile-size;
      width: $tile-size;
    }
  }
}
