.box {
  border: 2px black solid;
  display: table;
  border-collapse: collapse;

  .row {
    display: table-row;

    .tile-container {
      display: table-cell;
      position: relative;
    }
  }
}
