@import 'variables';

.unsolved {
  color: $app-only-font-color;
  height: $tile-size;
  width: $tile-size;

  .row {
    height: $cell-size;
    width: $tile-size;

    .number {
      float: left;
      font-size: $cell-size * $font-size-factor;
      height: $cell-size;
      width: $cell-size;
      line-height: $cell-size;
      text-align: center;
    }
  }
}

.solved {
  font-size: $tile-size * $font-size-factor;
  height: $tile-size;
  width: $tile-size;
  line-height: $tile-size;
  text-align: center;
}

.by-user {
  color: $user-action-font-color;
}

.by-app {
  color: $app-only-font-color;
}
