.box
  .row
    .tile-container
      include ./tile.pug
    .tile-container
      include ./tile.pug
    .tile-container
      include ./tile.pug
  .row
    .tile-container
      include ./tile.pug
    .tile-container
      include ./tile.pug
    .tile-container
      include ./tile.pug
  .row
    .tile-container
      include ./tile.pug
    .tile-container
      include ./tile.pug
    .tile-container
      include ./tile.pug
