.box
  .row
    .tile-container
      include ./unsolved-tile.pug
    .tile-container
      include ./unsolved-tile.pug
    .tile-container
      include ./app-solved-tile.pug
  .row
    .tile-container
      include ./unsolved-tile.pug
    .tile-container
      include ./unsolved-tile.pug
    .tile-container
      include ./unsolved-tile.pug
  .row
    .tile-container
      include ./unsolved-tile.pug
    .tile-container
      include ./unsolved-tile.pug
    .tile-container
      include ./user-solved-tile.pug
