.box
  .row
    .tile
      include ./unsolved.pug
    .tile
      include ./unsolved.pug
    .tile
      include ./unsolved.pug
  .row
    .tile
      include ./unsolved.pug
    .tile
      include ./unsolved.pug
    .tile
      include ./unsolved.pug
  .row
    .tile
      include ./unsolved.pug
    .tile
      include ./solved-by-user.pug
    .tile
      include ./solved-by-app.pug
