doctype html
html(lang="en")
  head
    title I Love Sudoku
    link(href="styles.css" rel="stylesheet")
  body
    #container
      include ./puzzle.pug
      #sidebar
        h2 I Love Sudoku
        p Click on the numbers in the boxes and watch as the puzzle solves itself!
        p Clicking a small number marks the cell as that value.
        p Clicking on a solved value erases it and resets the board.
        p It is consistently able to solve "Easy" and "Medium" puzzles from 
          a(href="http://www.websudoku.com") Web Sudoku
          | , and about 2/3 of "Hard" puzzles. The next step is to make a graph solver for the hard cases.
        p You can find the source code 
          a(href="https://github.com/dsberger/i-love-sudoku") here
          | .
        p
          a(href="mailto:dsberger@gmail.com") Email me
          |  with questions or suggestions.
    script(src="app.js")
