doctype html
html(lang="en")
  head
    title I Love Sudoku
    link(href="styles.css" rel="stylesheet")
  body
    #container
      include ./puzzle.pug
      #sidebar
        h2 I Love Sudoku
        p Click on the numbers in the boxes and watch as the puzzle solves itself!
        p It consistently is able to solve "Easy" and "Medium" puzzles from 
          a(href="http://www.websudoku.com") Web Sudoku
          | , and about 2/3 of "Hard" puzzles.
    script(src="app.js")
