.puzzle
  .row
    .box-container
      include ./box.pug
    .box-container
      include ./box.pug
    .box-container
      include ./box.pug
  .row
    .box-container
      include ./box.pug
    .box-container
      include ./box.pug
    .box-container
      include ./box.pug
  .row
    .box-container
      include ./box.pug
    .box-container
      include ./box.pug
    .box-container
      include ./box.pug
