.u.unsolved
  .row
    .number(onclick="view.userSolve(this)") 1
    .number(onclick="view.userSolve(this)") 2
    .number(onclick="view.userSolve(this)") 3
  .row
    .number(onclick="view.userSolve(this)") 4
    .number(onclick="view.userSolve(this)") 5
    .number(onclick="view.userSolve(this)") 6
  .row
    .number(onclick="view.userSolve(this)") 7
    .number(onclick="view.userSolve(this)") 8
    .number(onclick="view.userSolve(this)") 9
